/*
 * Standard CSS
 */

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#navigation-bar {
	background-color: #444;
	margin-bottom: -1px;
}

#navigation {
	height: 65px;
	max-height: 65px;
}

#navigation-titel {
	margin-top: 1%;
	margin-bottom: 1.5%;
	margin-left: 1.5%;
}

#navigation-menupunkte {
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	float: right;
}

a.menupunkte {
	width: 130px;
}

a.menupunkte:hover {
	color: #FFFFFF !important;
}

#titel {
	font-family: 'Kaushan Script', cursive;
	font-size: 4em;
	color: #FFFFFF;
	font-weight: 900;
}

.menupunkte:hover:after {
	border-bottom: 2px solid #FFFFFF;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background: #555;
	border-radius: 4px;
}

#login-dp {
	min-width: 200px;
	max-width: 200px;
	padding: 14px 14px 0;
	background-color: rgba(255,255,255,.8);
}
#login-dp .help-block {
	font-size: 12px
}
#login-dp .bottom {
	background-color: rgba(255,255,255,.8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}
#login-dp .social-buttons {
	margin: 12px 0
}
#login-dp .social-buttons a {
	width: 49%;
}
#login-dp .form-group {
	margin-bottom: 10px;
}

#eingeloggt {
	min-width: 200px;
	max-width: 200px;
	padding: 14px 14px 0;
	background-color: rgba(255,255,255,.8);
}
#eingeloggt .help-block {
	font-size: 12px
}
#eingeloggt .bottom {
	background-color: rgba(255,255,255,.8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}
#eingeloggt .social-buttons {
	margin: 12px 0
}
#eingeloggt .social-buttons a {
	width: 49%;
}
#eingeloggt .form-group {
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

a.dropdown-toggle {
	color: #444;
	border-radius: 4px;
}

.dropdown.open > a {
	background: #555 !important;
	color: #FFFFFF !important;
}

.navbar-collapse.navbar-menubuilder.collapse.in {
	width: 100%;
}

/*
 * Standard CSS -------------------------------------------------------------
 */

.search-form .form-group {
	float: right !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
	display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
	/* Firefox 18- */
	display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
	/* Firefox 19+ */
	display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
	display: none;
}
.search-form .form-group:hover, .search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}

#searchdiv {
	margin-top: 3%;
}

.maintextdiv {
	text-align: center;
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	opacity: 0.7;
	filter: alpha(opacity=90);
	border-radius: 4px;
}

#titel2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 7.2em;
	color: #111;
	font-weight: 900;
}

#staj {
	font-family: 'Kaushan Script', cursive;
}

.buttons {
	margin-top: 2%;
}

#startseitebutton1{
	width:180px;
	height: 45px;
	border-radius: 0px;
}

#startseitebutton2{
	width:180px;
	height: 45px;
	border-radius: 0px;
}


/*
 * Moadal Wizard -----------------------------------------------------------------------------
 */

#wizard {
	max-width: 570px;
	min-width: 300px;
}

.wizard {
	background: #fff;
	width: 100%;
}

.wizard .nav-tabs {
	position: relative;
	margin: 40px auto;
	margin-bottom: 0;
	border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
	position: relative;
}

.connecting-line {
	height: 2px;
	background: #e0e0e0;
	position: absolute;
	width: 50%;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
	margin-left: 7%;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

span.round-tab {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	background: #fff;
	border: 2px solid #e0e0e0;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
}
span.round-tab i {
	color: #555555;
}
.wizard li.active span.round-tab {
	background: #fff;
	border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i {
	color: #5bc0de;
}

span.round-tab:hover {
	color: #333;
	border: 2px solid #333;
}

.wizard .nav-tabs > li {
	width: 25%;
}

.wizard li:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #5bc0de;
	transition: 0.1s ease-in-out;
}

.wizard li.active:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}

.wizard .nav-tabs > li a:hover {
	background: transparent;
}

.wizard .tab-pane {
	position: relative;
	padding-top: 50px;
}

.wizard h3 {
	margin-top: 0;
}

#section_wizard{
	margin-left: 10%;
}

@media (max-width: 200px) {

	.wizard {
		width: 100%;
		height: auto !important;
	}

	span.round-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard .nav-tabs > li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
}

.wizard_formular{
	width:80%;
	height: 35px;
}
